@page
@model ASPDotNetCoreStudy.Pages.ShowEmployeeModel
@{
}
<div>
    <div class="col-3">
        <a asp-page="AddEmployee" class="btn btn-info form-control text-white">Create New Employee</a>

    </div>
    <h1>Employee Details</h1>
    <form method="post">
    <div>
        <table class="table table-striped border" >
            <tr class="table-secondary">
                <th> Name</th>
                <th>Age </th>
                <th>Salary </th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            @foreach(var item in Model.Employees)
            {
            <tr>
                <td>@Html.DisplayFor(m=>item.Name) </td>
                <td>@Html.DisplayFor(m=>item.Age) </td>
                <td>@Html.DisplayFor(m=>item.Salary) </td>
                    <td><button asp-route-id="@item.Id" onclick="return confirm('Are you sure to Delete')"  class="btn btn-sm btn-success text-white" >Delete</button> </td>
                <td> <a asp-page="EditEmployee" asp-route-id="@item.Id"  class="btn-danger btn-sm">Edit</a> </td>
            </tr>
            }
        </table>
    </div>
    </form>
</div>

